NODE_ENV=development
PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/dealdish?retryWrites=true&w=majority
JWT_SECRET=add_your_secret_key_here
CLIENT_URL=http://localhost:5173
